{% extends '::base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <h1>Books</h1>
    {% if books %}
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Read?</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td><em>{{ book.title }}</em></td>
          <td>{{ book.author.firstName }} {{ book.author.lastName }}</td>
          <td>{{ book.read ? 'Yes' : 'No' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No books have been added to the library yet.</p>
    {% endif %}
    {% if app.user is not null %}
    <p><a href="{{ path('crevax_library_book_new') }}">Add Book</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}